.productsListContainer{
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}
.productsList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.productsListItem{
    width: 220px;
    height: 350px;
    margin: 10px;
    border: 0.5px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productsListItem:hover{
    box-shadow: 0px 0px 10px 0px rgb(141, 159, 160);
    transition: 0.3s;
    cursor: pointer;
}
.productsListItemTop{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid lightgrey;
    margin-bottom: 10px;
}
.productsListItemTop img{
    width: 200px;
    height: auto;
    object-fit: cover;
}
.productsListItemBottom{
    width: 92%;
    padding-bottom: 10px;
}
.productsListItemBottom h1,
.productsListItemBottom h2,
.productsListItemBottom h3,
.productsListItemBottom h4,
.productsListItemBottom h5,
.productsListItemBottom h6{
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
.productsListItemBottom p{
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}
.productsListItemBottomButton{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.searchProducts{
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left:10px;
    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
}

.productsPageLoader{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* .circle1{
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: grey;
    top: 0px;
    border-radius: 50%;
    left: -150px;
    top:80vh;
    opacity: 0.5;
}
.circle2{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: grey;
    top: 0px;
    border-radius: 50%;
    left: 50px;
    top:70vh;
    opacity: 0.5;
} */

